<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.server.mapper.UserCollectionMapper">

    <insert id="addCollect">
        insert into usercollection(photo_id,user_id,dateTime) values (#{photoId,jdbcType=INTEGER},#{userId,jdbcType=INTEGER},#{dateTime,jdbcType=TIMESTAMP})
    </insert>

    <delete id="deleteByPhotoId">
        delete from usercollection where photo_id=#{photoId,jdbcType=INTEGER}
    </delete>

    <delete id="deleteByUserIdAndPhoneId">
        delete from usercollection where photo_id=#{param1,jdbcType=INTEGER,jdbcType=INTEGER} and user_id=#{param2,jdbcType=INTEGER}
    </delete>

    <select id="selectCountByPhotoId" resultType="java.lang.Integer">
        select count(id) from usercollection where photo_id=#{id,jdbcType=INTEGER}
    </select>

    <select id="selectCountByPhotoIdAndUserId" resultType="java.lang.Integer">
        select count(*) from usercollection where photo_id=#{param1,jdbcType=INTEGER} and user_id=#{param2,jdbcType=INTEGER}
    </select>
</mapper>